/* fur.css */
@font-face {
    font-family: 'TmoneyRoundWindExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
p {
    font-family: 'Dongle';

}
  
  #fur-image {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  .canvas-container {
    position: absolute;
    top: 55%;
    left: 950px;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.top {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 900;
    font-size: 40px;
    font-family: 'TmoneyRoundWindExtraBold';
  }
/* 추가적인 스타일을 여기에 작성하세요. */
/* 추가적인 스타일을 여기에 작성하세요. */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }
  
  .modal-content {
    position: relative;
    background-color: white;
    width: 70%;
    text-align: center;
    height: 40%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.4);
    z-index: 10;
  }
  
  
  .box {
    border: 2px solid black;
    border-radius: 10px;
    font-family: 'TmoneyRoundWindExtraBold';
    height: 90%;
    width: 90%;
    transform: translate(5%, 5%);
    padding : 0;
    margin : 0;
  }
  
  i {
    width: 50px;
    height: 50px;
    margin-top: 40px;
  }

div > .hidden {
  display : none;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;

  border: white;
  background-color: white;
}
