@font-face {
  font-family: 'TmoneyRoundWindExtraBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }
  
  .canvas-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  
  #character {
  position: relative;
  display: block;
  margin: 0 auto;
  height: 30vh;
  width: auto;
  max-width: 100%;
  z-index: 1;
  margin-top: 9vh;
  }
  
  #canvas {
  position: absolute;
  top: 10vh;
  left: 0;
  z-index: 2;
  }
  
  .top {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900;
  font-size: 6.5vw;
  font-family: 'TmoneyRoundWindExtraBold';
  white-space: nowrap; /* Prevent line breaks */
  }
  
  div > .hidden {
  display : none;
  }
  
  .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  }
  
  .modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  }
  
  .modal-content {
  position: relative;
  background-color: white;
  width: 70%;
  text-align: center;
  height: 40%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.4);
  z-index: 10;
  }
  
  .close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: white;
  background-color: white;
  z-index: 20;
  }
  
  .box {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 10px;
  font-family: 'TmoneyRoundWindExtraBold';
  height: 80%;
  width: 90%;
  transform: translate(5%, 5%);
  padding : 0;
  margin : 0;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  }
  
  i {
  width: 50px;
  height: 50px;
  margin-top: 40px;
  z-index: 20;
  }

.box h2,
.box p {
  font-size: 6vw;
  margin: 0;
}