<!-- base.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'gamebase.css' %}">
    {% block css %}
    {% endblock %}
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="header">
             <!--현재 과정 설명  -->
            {% block mention %}{% endblock %}
        </div>
        <div class="content">
            <div class="chicken-image">
                <!-- 치킨 이미지 -->
                {% block chicken_image %}{% endblock %}
                {% comment %} <audio id="audioElement" src="{% static './audio/ysck.mp3' %}" {% if base_audio_play %}autoplay loop{% endif %}></audio> {% endcomment %}
            </div>
            {% block extra_scripts %}{% endblock %}
            {% block extra_content %}{% endblock %}
            <div class="progress-bar">
                <div class="progress">
                    <!-- 게이지 바 -->
                    {% block progress_bar %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    
    <script>
        {% comment %} var audioElement = document.getElementById("audioElement");
        audioElement.volume = 0.5; // adjust the volume as desired
        
        // Pause audio when the page is being unloaded (e.g., navigating to a different page)
        window.addEventListener("beforeunload", function() {
            if (typeof base_audio_play !== 'undefined' && base_audio_play) {
                audioElement.pause();
            }
        }); {% endcomment %}
        
        // Resume audio when the page is loaded or switched to another tab
        window.addEventListener("load", function() {
            if (typeof base_audio_play !== 'undefined' && base_audio_play) {
                audioElement.play();
            }
        });
        
        // Resume audio when the page gains focus
        window.addEventListener("focus", function() {
            if (typeof base_audio_play !== 'undefined' && base_audio_play) {
                audioElement.play();
            }
        });
        
        // Pause audio when the page loses focus
        window.addEventListener("blur", function() {
            if (typeof base_audio_play !== 'undefined' && base_audio_play) {
                audioElement.pause();
            }
        });
        
        // Resume audio when a new page is loaded using AJAX
        document.addEventListener("DOMContentLoaded", function() {
            var linkElements = document.querySelectorAll("a");
            for (var i = 0; i < linkElements.length; i++) {
                linkElements[i].addEventListener("click", function() {
                    if (typeof base_audio_play !== 'undefined' && base_audio_play) {
                        audioElement.play();
                    }
                });
            }
        });
    </script>
</body>
</html>
