{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
{% endblock css %}
{% block content %}

<form action="" method="POST">
    {% csrf_token %}
    <div class="container">
        <div class="title">로그인</div>
        <div class="id-box">아이디 : 
            <input type="text" placeholder="아이디를 입력해주세요" name="userid">
        </div>
        <div class="pw-box">비밀번호 : 
            <input type="text" placeholder="비밀번호을 입력해주세요" name="userpw">
        </div>
        {{ error }}
        <input type="submit" value="완료"><p></p>
        <a href="{% url 'signup' %}">회원가입</a>
        <a href="{% url 'main' %}">홈으로</a>
    </div>
    
</form>
{% endblock content %}