{% extends "gamebase.html" %}

{% block css %}
    {% load static %} 
    <link rel="stylesheet" type="text/css" href="{% static 'mix.css' %}">
    <style>
      
    </style>
  {% endblock %}

{% block mention %}
    <p class="top">드래그해서 치킨 반죽을 해주세요</p>
    <div class="modal hidden" >
      <div class="modal-content">
        <div class="box">
          <h2>반죽 완성!</h2>
          <p>튀길 준비를 해볼까요?</p>
          <p>연새 참교육이 거의 다 왔어요</p>
          <a href="/fried">다음 단계로</a>
          <i class="fas fa-duotone fa-rocket fa-bounce fa-2xl"></i>
        </div>
    </div>
    <div class="modal-overlay"></div>
{% endblock %}

{% block chicken_image %}
    <div class="canvas-container">
        <img id="character" src="{% static '/image/mix.png' %}" alt="Character" />
        <canvas id="canvas"></canvas>
    </div> 
</div>

{% endblock %}

{% block progress_bar %}
    <!-- 완성도 게이지를 출력하는 위치에 대한 내용을 추가합니다. -->
{% endblock %}

{% block extra_scripts %}
<script>
var base_audio_play = true;
const canvas = document.getElementById('canvas');
// 캔버스와 이미지 관련 변수
const context = canvas.getContext('2d');
const characterImg = document.getElementById('character');
const canvasContainer = document.getElementById('canvas-container');
const modal = document.querySelector(".modal");
let isDrawing = false;
let previousX, previousY;

characterImg.addEventListener('load', function() {
    canvas.width = characterImg.width;
    canvas.height = characterImg.height;
});

function startDrawing(event) {
    event.preventDefault();
    isDrawing = true;
    const rect = canvas.getBoundingClientRect();
    previousX = event.touches[0].clientX - rect.left;
    previousY = event.touches[0].clientY - rect.top;
}

function openModal() {
    modal.classList.remove('hidden');
};

function draw(event) {
    event.preventDefault();
    if (!isDrawing) return;

    const rect = canvas.getBoundingClientRect();
    const x = event.touches[0].clientX - rect.left;
    const y = event.touches[0].clientY - rect.top;

    context.strokeStyle = 'yellow';
    context.lineWidth = 15;
    context.lineCap = 'round';

    context.beginPath();
    context.moveTo(previousX, previousY);
    context.lineTo(x, y);
    context.stroke();

    previousX = x;
    previousY = y;
}

function stopDrawing(event) {
    event.preventDefault();
    isDrawing = false;

    const imageData = context.getImageData(0, 0, canvas.width, canvas.height);
    const pixels = imageData.data;
    const halfWidth = (canvas.width * canvas.height) / 13;
    let coloredPixelCount = 0;

    // 색칠된 픽셀 개수 세기
    for (let i = 0; i < pixels.length; i += 4) {
        const r = pixels[i];
        const g = pixels[i + 1];
        const b = pixels[i + 2];
        const a = pixels[i + 3];

        if (r === 255 && g === 255 && b === 0 && a === 255) {
            coloredPixelCount++;
        }
    }

    console.log(coloredPixelCount, halfWidth);
    // 색칠된 부분이 이미지 전체 너비의 절반을 초과하는지 확인
    if (coloredPixelCount > halfWidth) {
        // 팝업 창 띄우기
        openModal();
    } else {
        stopDrawing2();
    }

}

function stopDrawing2(event) {
    event.preventDefault();
    isDrawing = false;
}

// 이벤트 핸들러 등록
canvas.addEventListener('touchstart', startDrawing);
canvas.addEventListener('touchmove', draw);
canvas.addEventListener('touchend', stopDrawing);
canvas.addEventListener('touchcancel', function(event) {
    if (isDrawing) {
        stopDrawing2();
    }
});

</script>
{% endblock %}
