<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>치킨 창고</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'rank.css' %}" />
  </head>
  <body>
    <div class="rank-top">
      <h2>내가 구운 치킨 개수 : <span id="chicken-count"> 4개 </span></h2>
      <!-- 자바로 구운 치킨 개수 보여줌-->
      <h3>나는 상위 10% 치킨 요리사!!</h3>
    </div>
    <div class="rank-body">
      <button onclick="department" id="department-button">
        단과대별 랭킹 바로 보기!
      </button>
      <button onclick="personal" id="personal-button">
        전체 개인랭킹 바로 보기!
      </button>
    </div>
    <div class="rank-body-department" style="display: none">
      <ul>
        <li>공과대학 : 12개</li>
        <li>문과대학 : 9개</li>
        <li>경영대학 : 7개</li>
        <li>심리학부 : 3개</li>
      </ul>
    </div>

    <div class="rank-body-personal" style="display: none">
      <ul>
        <li>sexy윤석 : 5개</li>
        <li>2 : 3개</li>
        <li>1 : 2개</li>
        <li>myung99 : 1개</li>
      </ul>
    </div>
    <div class="rank-bottom">
      <a href="{% url 'main' %}">홈으로</a>
      <a href="/fur">치킨 더 굽기</a>
    </div>
  </body>
</html>

<script>
  ///구운 치킨 개수 업로드 시작
  ///var chickenCount = chickenfrycount; ///기존 구운 치킨 개수를 chickenfrycount에 받았다고 가정하고 설정
  ///document.getElementById("chicken-count").innerText = chickenCount;
  ///구운 치킨 개수 업로드 완료

  ///클릭하면 단과대별 랭킹 불러오기 시작
  var departmentButton = document.getElementById("department-button");
  var departmentRank = document.querySelector(".rank-body-department");

  departmentButton.addEventListener("click", function () {
    departmentRank.style.display = "block";
    personalRank.style.display = "none";
  });
  ///클릭하면 단과대별 랭킹 불러오기 종료
  ///클릭하면 개인별 랭킹 불러오기 시작
  var personalButton = document.getElementById("personal-button");
  var personalRank = document.querySelector(".rank-body-personal");
  personalButton.addEventListener("click", function () {
    departmentRank.style.display = "none";
    personalRank.style.display = "block";
  });
  ///클릭하면 개인별 랭킹 불러오기 종료
</script>
