{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'signup.css' %}">
{% endblock css %}
{% block content %}
<div class="container">
<form action="" method="POST">
    {% csrf_token %}
    <div class="title">회원가입</div>
    <div class="name-box">닉네임 : 
        <input type="text" placeholder="닉네임을 입력해주세요" name="usernickname">
    </div>
    <div class="department-box">단과대 :
     
    <select name="department">
        <option value="engineer">공과대학</option>
        <option value="business">경영대학</option>
    </select>
        
    
    </div>
    <div class="id-box">아이디 : 
        <input type="text" placeholder="아이디를 입력해주세요" name="userid">
    </div>
    <div class="pw-box">비밀번호 : 
        <input type="text" placeholder="비밀번호를 입력해주세요" name="userpw">
    </div>
    <input type="submit" value="회원가입">
</form>
<p>{{ error }}</p>
<a href="{% url 'login' %}">로그인</a>
<a href="{% url 'main' %}">홈으로 </a>
</div>
{% endblock content %}