{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'signup.css' %}">
{% endblock css %}
{% block content %}
<div class="container">
<form action="" method="POST">
    {% csrf_token %}
    <div class="title">회원가입</div>
    <div class="name-box">닉네임 : 
        <input type="text" placeholder="닉네임을 입력해주세요" name="usernickname">
    </div>
    <div class="department-box">단과대 :
     
    <select name="department">
        <option value="hogi">호기 심리</option>
        <option value='ingan'>인간 사랑</option>
        <option value='aeguk'>애국 경영</option>
        <option value='nokdu'>녹두 문대</option>
        <option value='jajuLife'>자주 생명</option>
        <option value='hoan'>호안 정대</option>
        <option value='jajuSci'>자주 이과대</option>
        <option value='gangcheol'>강철 공대</option>
        <option value='hohyeol'>호혈 의대</option>
        <option value='cheongnyeon'>청년 사대</option>
        <option value='cheomdan'>첨단 정보</option>
        <option value='changjo'>창조 조형</option>
        <option value='muhan'>무한 국제</option>
        <option value='hoseong'>호성 미디어</option>
        <option value='horim'>호림 보과</option>
        <option value='seodo'>선도 자전</option>
        <option value='minjung'>민중 간호</option>
    </select>
        
    
    </div>
    <div class="id-box">아이디 : 
        <input type="text" placeholder="아이디를 입력해주세요" name="userid">
    </div>
    <div class="pw-box">비밀번호 : 
        <input type="text" placeholder="비밀번호를 입력해주세요" name="userpw">
    </div>
    <input type="submit" value="회원가입">
</form>
<p>{{ error }}</p>
<a href="{% url 'login' %}">로그인</a>
<a href="{% url 'main' %}">홈으로 </a>
</div>
{% endblock content %}